@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --baseSize: 16px;
  --baseHeight: 20px;
  --primary: #3EB489;
  --primary-contrast: #FFFFFF;
  --secondary: #3E8FB4;
  --secondary-contrast: #FFFFFF;
  --success: #2ECC71;
  --success-contrast: #000000;
  --warning: #F1C40F;
  --warning-contrast: #000000;
  --danger: #E74C3C;
  --danger-contrast: #FFFFFF;

  --neutral-light-100: #F5F6F5; /* Very light, almost white */
  --neutral-light-100-contrast: #486271;
  --neutral-light-200: #E0E0E0; /* Original light neutral */
  --neutral-light-200-contrast: #2C3E50;
  --neutral-light-300: #BFC7C5; /* Mid-light with a slight teal tint */
  --neutral-light-300-contrast: #1F2E3A;
  --neutral-light-400: #A3ADAA; /* Darker light neutral */
  --neutral-light-400-contrast: #F5F6F5;

  /* Neutral Dark Variations */
  --neutral-dark-100: #486271; /* Lighter dark neutral */
  --neutral-dark-100-contrast: #F5F6F5;
  --neutral-dark-200: #2C3E50; /* Original dark neutral */
  --neutral-dark-200-contrast: #E0E0E0;
  --neutral-dark-300: #1F2E3A; /* Deeper dark with teal undertone */
  --neutral-dark-300-contrast: #BFC7C5;
  --neutral-dark-400: #141F26; /* Near-black with subtle tint */
  --neutral-dark-400-contrast: #F5F6F5;

  --surface: var(--neutral-light-100);
  --surface-contrast: var(--neutral-light-100-contrast);
  --neutral-100: var(--neutral-light-100);
  --neutral-200: var(--neutral-light-200);
  --neutral-300: var(--neutral-light-300);
  --neutral-400: var(--neutral-light-400);
  --neutral-100-contrast: var(--neutral-light-100-contrast);
  --neutral-200-contrast: var(--neutral-light-200-contrast);
  --neutral-300-contrast: var(--neutral-light-300-contrast);
  --neutral-400-contrast: var(--neutral-light-400-contrast);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: var(--neutral-100-dark);
    --surface-contrast: var(--neutral-dark-100-contrast);
    --neutral-100: var(--neutral-dark-100);
    --neutral-200: var(--neutral-dark-200);
    --neutral-300: var(--neutral-dark-300);
    --neutral-400: var(--neutral-dark-400);
    --neutral-100-contrast: var(--neutral-dark-100-contrast);
    --neutral-200-contrast: var(--neutral-dark-200-contrast);
    --neutral-300-contrast: var(--neutral-dark-300-contrast);
    --neutral-400-contrast: var(--neutral-dark-400-contrast);
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  --ratio: .6;
  font-size: calc(var(--baseSize) * var(--ratio));
  line-height: calc(var(--baseHeight) * var(--ratio));
}

@media screen and (min-width: 768px) {
  html {
    --ratio: .7;
  }
}

@media screen and (min-width: 1024px) {
  html {
    --ratio: 1;
  }
}